extends baseEmail
block content

  p Hej #{firstName},
  p Välkommen till ditt drönarlevererade kaffe!
  
  p Om du behöver hjälp med din beställning, tveka inte att höra av er!
  p - Joakim Trulsson
